
/* ************************************************************
    common
************************************************************ */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
}

#wrap {
    min-width: 1024px;
}
#wrap,#contents,#bgs,#sentences {
    position: absolute;
    width: 100%; height: 100%;
    overflow: hidden;
}

 .bg-wrap{
    position: absolute;
    width: 100%; height: 100%;  
 }

#bgs .bg {
    position: absolute;
    width: 100%;
    height: auto;
}



#contents,#bgs, #sentences, #sent1, #sent1-in{
    border : solid 0px transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.black-bg {
    position: absolute;
    width: 100%; height: 100%;
    overflow: hidden;
    background:url(/magazine/issue5/one/images/1x1_black.gif);
    opacity: 0.9;
}

.gr-bg-up,.gr-bg-down {
    position: absolute;
    width: 100%;
    height: 26px;
}

.gr-bg-up {
    background: url(/magazine/issue5/one/images/gradient-bg-up.png);
    top: 0;
}

.gr-bg-down {
    background: url(/magazine/issue5/one/images/gradient-bg-down.png);
    bottom: 0;
}



#sentences .black-bg {
    opacity: 1;
}

#sent1 {
    position: absolute;
    width: 100%; height: 100%;
    overflow: hidden;
    width: 50%;
    right: 0;
    color : #fff;
    font-size: 16px;
}

#sent1 img {
    position: relative;
    display: block;
}

#sent1-in {
    border : solid 70px transparent;
    border-top: solid 0px transparent;
    border-bottom: solid 0px transparent;
    border-top: solid 70px transparent;
    border-bottom: solid 70px transparent;
}

#sent1-in h3 {
    font-family: "Nobel-Regular";
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
#sent1-in p {
    margin-top: 30px;
}

#sent1-in {
    position: relative;
    margin : 0 auto;
    overflow: hidden;
}

#sent1-img img{
    width: 100%;
    height: auto;
}
#sentences .black-bg{
    width: 50%;
    right: -50%;
}


/* ************************************************************
    cover
************************************************************ */
#cover-wrap {
    position: absolute; 
    width:400px; height: 100%;
    left: 50%; margin-left: -200px;
    /*background-color: rgba(255,255,0,0.5);*/
}
#cover-wrap-in { 
    position: absolute; 
    width:100%; height: 400px;
    top:50%; margin-top: -190px;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    /*background-color: rgba(255,255,0,0.5);*/
}

#cover-wrap .cover {
    font-size: 16px;
    font-weight: bold;
    margin-top: 80px;
    letter-spacing: 0.2em;
    font-family: "Nobel", "Avenir Next", "Corbel", sans-serif; 
}

#cover-shape-wrap { position: relative; top:0; width:41px; height: 100px; margin: 0 auto;}
#cover-shape { position: relative; left: -10px;}
.cover-summary {
    font-size: 14px;
    line-height: 1.7em;
}
.cover-assets { position: relative; opacity: 1}

#cover-wrap .b-line { width: 30px; height: 2px; margin: 0 auto; margin-top: 36px; margin-bottom: 36px; background-color: #fff;}