/*
    section 
        content 
    section 
        content
    section 
        content
    section 
        content
    section 
        content

    section has height content height;


    section add css {
        backgournd-image: url();
        background-attachment: fixed; 
    }


    http://jquery.shiftbrain.co.jp/#about_event
*/